Step 1: Create a DataFrame from the list of dictionaries below:

[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]


Step 2:  Calculate the Total Profit for each product using the formula 

```

net_revenue_per_product = (retail_price - wholesale price) * sales
```

Step 3: Determine the following

- How much total net revenue you received from all of these sales?

- What product is product retail price more than twice the wholesale price?

- How much did the store make from food vs. computers vs. books?

- Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

In [126]:
import pandas as pd

In [127]:
#CREATE A DataFrame from the list of dictionaries:
df=[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000}, {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500}, {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200}, {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]
df2=pd.DataFrame(data)
df2

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [128]:
#What product is product retail price more than twice the wholesale price?
df2
twice_wholesale=df2[df2['retail_price']>2*df2['wholesale_price']]
twice_wholesale

   product_id            name  wholesale_price  retail_price  sales
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500

In [129]:
#Calculate the total profit for each product
#net_revenue_per_product=(retail_price-wholesale_price)*sales
net_revenue_per_product=(df2.retail_price-df2.wholesale_price)*df2.sales

net_revenue_per_product

0    50000.0
1    40000.0
2    20000.0
3      100.0
4      600.0
dtype: float64

In [130]:
#How much total net revenue you received from all of these sales?

total_net_revenue=net_revenue_per_product.sum()

print(f'Total net revenue is ghc{total_net_revenue}')

Total net revenue is ghc110700.0

In [131]:
#How much did the store make from food vs. computers vs. books?
net_revenue_food=net_revenue_per_product.iloc[3]+net_revenue_per_product.iloc[4]

net_revenue_computers=net_revenue_per_product.iloc[0]

net_revenue_books=net_revenue_per_product.iloc[1]+net_revenue_per_product.iloc[2]

print(f'The net income of food vs. computers vs. books is ghc{net_revenue_food} vs. ghc{net_revenue_computers} vs. ghc{net_revenue_books} respectively.')

The net income of food vs. computers vs. books is ghc700.0 vs. ghc50000.0 vs. ghc60000.0 respectively.

In [132]:
#Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue
df2['wholesale_price']*=0.7

net_revenue_per_product2=(df2.retail_price-df2.wholesale_price)*df2.sales

total_net_revenue2=net_revenue_per_product2.sum()

print(f'The new total net revenue is ghc{total_net_revenue2}')

The new total net revenue is ghc141750.0

#actual first

In [ ]:
#MY FIRST COMMIT

#the final for this